# Python virtual environment
venv/
env/
.env/

# Python cache files
__pycache__/
__pycache__
*.py[cod]
*$py.class

# IDE specific files
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.env.local 